@font-face {
    font-family: 'Five Years Later Demo';
    src: url('FiveYearsLaterDemo.woff2') format('woff2'),
        url('FiveYearsLaterDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

