// $sans-stack: "Janson Text LT Std", times, serif;
$sans-stack: Helvetica, Arial, sans-serif;
$serif-stack: "Janson Text LT Std", times, serif;
$logo-stack: "helex", $sans-stack;

$black: #0a0a0a;
$white: rgba(234, 234, 234, 1);
$off-white: rgba(224, 224, 224, 1);
$grey: rgb(190, 190, 190);
$darkgrey: rgb(85, 85, 85);
// $thirdColor: rgb(197, 191, 191);

$transition: cubic-bezier(0.23, 1, 0.32, 1);
$transtion2: cubic-bezier(0.34, 1.56, 0.64, 1);

// NEW

$half-grey: rgba(90, 90, 90, 1);
$full-grey: rgba(120, 120, 120, 1);

$font_size_normal: 16px;
$font_size_caption: $font_size_normal;
$font_size_small: 12px;
$font_size_large: 17px;

$line-height: 32px;
$margin: 42px;
$phone-margin: 21px;

$font_size_large_phone: $font_size_normal;

$menu_bar_height: $line-height * 3;

$text_width: 900px;

$breakpoints: (
  "small": (
    max-width: 900px,
  ),
  "medium": (
    max-width: 1000px,
  ),
  "large": (
    max-width: 1600px,
  ),
  "short": (
    max-height: 600px,
  ),
);

@mixin hide-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}

@mixin big-title {
  font-family: "five", "Akkurat-Mono", monospace;
  font-size: 72px;
  font-weight: normal;
  line-height: 0.9em;
  margin-bottom: 40px;
  max-width: 90%;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: $black;
  letter-spacing: -1px;
  word-spacing: -10px;
}
@mixin medium-title {
  color: $black;
  font-size: 48px;
  line-height: 0.95em;
  font-family: "five", "helvetica", Arial, "Akkurat-Mono", monospace;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: $black;
  letter-spacing: -1px;
  word-spacing: -5px;
}

/// Responsive manager.
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin screen-size($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);
  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
